[Desktop Entry]
Name=simple-ducky
Encoding=UTF-8
Exec==simple-ducky
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-01-wireless-tools;
X-Kali-Package=simple-ducky
