[Desktop Entry]
Name=simple-ducky
Encoding=UTF-8
Exec==simple-ducky
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-05-web-sniffers;
X-Kali-Package=simple-ducky
